.about-container {
  margin-top: 0;
  padding-bottom: 7rem;
  background: #f2f2f2;
  padding: 5rem 1rem;
}

.bio {
  font-family: "Alegreya Sans", sans-serif;
  height: max-content;
  line-height: 1.8rem;
}

.bio p {
  margin-top: 1.5rem;
  max-width: 100%;
}

.bio ul {
  margin-top: 1.5rem;
  border-top: 1px solid #6084ab;
}

.language {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.language li {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

@media screen and (max-width: 600) {
}
