.container-content {
  display: flex;
  align-items: center;
  height: 58vh;
}

.header-me {
  flex: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-content {
  flex: 3;
  display: flex;
  justify-content: center;
}

.my-job {
  font-family: "Cinzel", serif;
  font-weight: 600;
  font-size: 5rem;
}

small {
  font-size: 1rem;
  font-weight: 600;
}

.header-text {
  line-height: 1.5rem;
  font-size: 0.9rem;
  font-family: "Alegreya Sans", sans-serif;
}

/* Socials */
.header_socials {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 0.8rem;
  color: black;
}

.header_socials::after {
  content: "";
  width: 2px;
  height: 2rem;
  background: gray;
}

button {
  background: rgb(228, 228, 228);
  width: 7rem;
  height: 3rem;
  cursor: pointer;
  border: 1px solid rgb(88, 85, 85);
  font-size: 0.9rem;
}

.button:hover {
  color: white;
  background: rgb(44, 96, 114);
  /* transition: var(--transition); */
}

/* ====================MEDIA QUERY MD================= */

@media screen and (max-width: 1024px) {
  .header-me {
    flex: 6;
    line-height: 5rem;
    padding: 1rem;
  }

  .profile-content {
    flex: 6;
    height: 35rem;
    width: 100%;
  }
  .container-content {
    height: 67vh;
  }
  small {
    line-height: 2rem;
    color: rgb(44, 96, 114);
  }
}

/* ====================MEDIA QUERY SM================= */

@media screen and (max-width: 600px) {
  .container-content {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
  }

  .header-text {
  }

  .header-me {
    display: grid;
    grid-template-columns: 1fr;
    /* text-align: center; */
    margin-top: 2rem;
  }

  .profile-content {
    margin: 0 auto;
    height: 15rem;
    width: 15rem;
    padding-top: 0;
  }

  .social {
    margin: 0 auto;
  }
  .my-job {
    font-size: 2.6rem;
    line-height: 2.2rem;

    width: 100%;
  }
  .header-text {
    line-height: 1.1rem;
    font-size: 0.8rem;
    padding: 1.3 0 1 0rem;
  }
}
