.container-content {
  display: flex;
  justify-content: space-between;
  height: 65vh;
  align-items: center;
}

.header-me h2 {
  font-family: "Cinzel", serif;
  font-weight: 600;
  font-size: 5rem;
  animation: focus-in-contract 1s ease 0s 1 normal none;
}

.header-me p {
  line-height: 1.5rem;
  font-size: 0.9rem;
  font-family: "Alegreya Sans", sans-serif;
}

.header-me > small {
  font-family: "Cinzel", serif;
  font-size: 1rem;
  font-weight: 600;
  animation: text-shadow-multicolor 2s linear 2s infinite normal none;
}

.header_socials {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 0.8rem;
  color: #6084ab;
}

.header_socials::after {
  content: "";
  width: 0.2rem;
  height: 2rem;
  background: #6084ab;
}

.resume {
  background: #f2f2f2;
  width: 7rem;
  height: 3rem;
  cursor: pointer;
  border: 1px solid #6084ab;
  font-size: 0.9rem;
}

.resume:hover {
  background-color: #6084ab;
  color: #f2f2f2;
  border: 2px solid #f2f2f2;
  transition: var(--transition);
  border-radius: 0.5rem;
  animation: focus-in-contract 1s ease 0s 1 normal none;
}

/* ================HEADER IMAGE STYLE========== */

/* Socials */
.profile-content-cirle {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* border: 2px solid white; */
  background: var(--deulobg);

  /* animation */
  transform: rotate(0, 0);
  animation: myCircle 4s infinite linear;
}

.profile-image {
  width: 380px;
  height: 380px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* border: 1px solid white; */
}

/* =================================== */

@keyframes myCircle {
  0% {
    transform: translate(0%, 0%) rotate(5deg);
  }

  50% {
    transform: translate(0, 5%) rotate(-5deg);
  }

  100% {
    transform: translate(0, 0%) rotate(5deg);
  }
}

@keyframes text-shadow-multicolor {
  0% {
    text-shadow: 0 0px 15px #f0f;
  }
  33% {
    text-shadow: 0 0px 15px #0ff;
  }
  66% {
    text-shadow: 0 0px 10px #0f0;
  }
  100% {
    text-shadow: 0 0px 10px #ff0;
  }
}

@keyframes focus-in-expand-top {
  0% {
    letter-spacing: -0.5em;
    transform: translateY(-300px);
    filter: blur(12px);
    opacity: 0;
  }
  0% {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

/* ====================MEDIA QUERY MD================= */

@media screen and (max-width: 1024px) {
  .header-me {
    line-height: 5rem;
  }

  .profile-content {
    flex: 6;
    height: 35rem;
    width: 100%;
  }
  .container-content {
    height: 67vh;
  }
  small {
    line-height: 2rem;
    color: rgb(44, 96, 114);
  }
}

/* ====================MEDIA QUERY SM================= */

@media screen and (max-width: 600px) {
  .container-content {
    margin-top: 3rem;
    flex-direction: column;
    height: 45vh;
    margin-bottom: 15rem;
  }

  .header-me {
    text-align: center;
    margin-bottom: 2rem;
  }

  .header-me small {
    margin-bottom: 1rem;
    line-height: 1rem;
  }

  .social {
    justify-content: center;
  }
  .header-me h2 {
    margin-bottom: 1.1rem;
    font-size: 2rem;
    line-height: 2.2rem;
    max-lines: 0;
  }

  .header-me p {
    line-height: 1.1rem;
    font-size: 0.8rem;
    width: 15rem;
    padding: 0.1px;
    margin: 0 auto;
  }

  .profile-content-cirle {
    width: 200px;
    height: 100%;
  }

  .profile-image {
    width: 100%;
    height: 100%;
  }
}

