footer {
  display: flex;
  gap: 20rem;
  justify-content: center;
  align-items: center;
  background: #4670a0;
  font-size: 0.9rem;
  padding: 3rem 0rem 3rem 0;
  margin-top: 7rem;
  z-index: 999;
  width: 100%;
}

.footer_author {
  display: flex;
  align-items: center;
  gap: 20rem;
}

.deulo_logo {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-style: italic;
}

.footer_list_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.footer_list_links li:hover {
}

.footer_socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.footer_socials a {
  display: flex;
  background: white;
  /* color: rgb(44, 96, 114); */
  padding: 0.8rem;
  border-radius: 0.7rem;
  border: 1px solid transparent;
}

.footer_socials a:hover {
  background: transparent;
  color: var(--color-bg);
  border: 1px solid var(--color-bg);
}

/* ====================MEDIA QUERY SM================= */

@media screen and (max-width: 1024px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .footer_author {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  .footer_list_links {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer_social-links p {
    padding: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  footer {
    gap: 2rem;
    text-align: center;
  }

  .footer_author {
    gap: 0.1px;
    grid-template-columns: 1fr;
  }

  .footer_list_links {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .footer_social-links p {
    padding: 0.1rem;
    font-size: 0.6rem;
    text-align: center;
  }
}
