@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-white: rgb(44, 96, 114);
  /* --color-light: rgba(255, 255, 255, 0.6); */
  --color-light: rgb(44, 96, 114);
  --color-black: rgb(24, 22, 22);

  --container-width-lg: 70%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  /* background: var(--color-white); */
  /* background: rgb(251, 249, 250);
  background: radial-gradient(
    circle,
    rgba(251, 249, 250, 1) 0%,
    rgba(187, 195, 204, 1) 100%
  ); */
  background-image: var(--deulobg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-black);
  line-height: 1.5;
  /* background-image: url(../src/components/image/bg-texture.png); */
}

/* =============GENERAL STYLE=========== */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h5 {
  text-align: center;
  /* color: var(--color-light); */
  color: teal;
}

section > h2 {
  text-align: center;
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: black;
}

.btn {
  width: max-content;
  display: block;
  margin: 0.5rem;
  font-size: 0.9rem;
  background: rgb(251, 249, 250);
  /* color: skyblue; */
  padding: 0.02rem 0.1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-black);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  /* background: var(--color-primary); */
  background: rgb(251, 249, 250);
  background: radial-gradient(
    circle,
    rgba(251, 249, 250, 1) 0%,
    rgba(187, 195, 204, 1) 100%
  );
  color: var(--color-black);
}

img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  object-fit: cover;
}

/* ====================MEDIA QUERY MD================= */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* ====================MEDIA QUERY SM================= */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section {
    margin-top: 2rem;
  }
}

:root {
  --footerbg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1831%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsRadialGradient1832)'%3e%3c/rect%3e%3cpath d='M-77.2 453.29 a171.62 171.62 0 1 0 343.24 0 a171.62 171.62 0 1 0 -343.24 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M671.161%2c391.016C708.426%2c389.906%2c747.665%2c383.664%2c768.153%2c352.516C790.516%2c318.518%2c790.908%2c274.358%2c771.378%2c238.657C751.041%2c201.479%2c713.511%2c173.705%2c671.161%2c175.209C630.81%2c176.642%2c602.984%2c210.533%2c582.56%2c245.363C561.811%2c280.748%2c542.3%2c323.562%2c563.618%2c358.607C584.473%2c392.89%2c631.051%2c392.211%2c671.161%2c391.016' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1225.3899521423077 353.1870121667917L1162.8803823527926 348.81591723545057 1187.5785248505385 444.7658193853939z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1045.0865790891844 485.1784948482348L1148.8914283864408 550.0429637536567 1213.7558972918628 446.23811445640035 1109.9510479946064 381.3736455509784z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M519.074%2c726.439C564.956%2c725.709%2c607.709%2c703.008%2c631.036%2c663.492C654.761%2c623.302%2c655.181%2c574.123%2c633.335%2c532.882C609.936%2c488.709%2c568.987%2c454.859%2c519.074%2c452.125C464.292%2c449.124%2c407.307%2c470.984%2c380.86%2c519.053C355.125%2c565.829%2c371.161%2c622.728%2c400.769%2c667.154C426.987%2c706.494%2c471.804%2c727.191%2c519.074%2c726.439' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M933.918%2c506.263C987.468%2c502.873%2c1018.824%2c450.53%2c1042.282%2c402.273C1062.215%2c361.269%2c1066.197%2c315.831%2c1046.471%2c274.727C1023.377%2c226.605%2c987.275%2c177.918%2c933.918%2c176.475C878.914%2c174.987%2c837.183%2c220.328%2c810.302%2c268.339C784.16%2c315.03%2c774.195%2c370.198%2c798.866%2c417.682C825.469%2c468.885%2c876.331%2c509.908%2c933.918%2c506.263' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1318.035%2c286.212C1347.777%2c285.682%2c1379.78%2c280.27%2c1395.146%2c254.799C1410.901%2c228.682%2c1404.744%2c195.402%2c1388.323%2c169.699C1373.168%2c145.978%2c1346.181%2c133.702%2c1318.035%2c134.098C1290.619%2c134.484%2c1266.259%2c148.787%2c1251.093%2c171.63C1233.838%2c197.618%2c1220.277%2c230.7%2c1236.013%2c257.635C1251.667%2c284.429%2c1287.008%2c286.765%2c1318.035%2c286.212' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M766.95%2c540.506C813.262%2c542.489%2c857.559%2c516.843%2c879.547%2c476.036C900.561%2c437.037%2c893.11%2c389.205%2c868.223%2c352.557C846.192%2c320.115%2c806.149%2c309.12%2c766.95%2c310.23C729.988%2c311.277%2c694.603%2c326.581%2c675.145%2c358.024C654.622%2c391.188%2c652.371%2c432.222%2c669.898%2c467.061C689.44%2c505.905%2c723.507%2c538.646%2c766.95%2c540.506' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M265.0001461460112 322.11739289208833L151.9837540896488 254.21029360084094 84.07665479840145 367.22668565720335 197.09304685476383 435.13378494845074z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M753.5617829500816 591.8026995760765L853.4396540225257 614.8613230040439 776.620406378049 491.92482850363245z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M106.29374494642292 105.40103065666956L133.98096058533235-37.03734574951808-36.144631459764724 77.71381501776011z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1831'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='100%25' r='912.14' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1832'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 19%2c 158%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  --deulobg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='500' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2809%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsRadialGradient2810)'%3e%3c/rect%3e%3cpath d='M184.07250172380216 24.067938926074575L40.06839520584728-62.45845765881454-46.45800137904183 81.54564885914034 97.54610513891305 168.07204544402947z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M143.70464460668475 24.078119956270903L-46.085595729076914-6.167140571701502 11.373788349635447 151.70121972033107z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M42.35500314166512 155.59268522148056L151.02812448457672 128.49743291431778 56.04868535237674-20.96462294646821z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1420.3822747766853-70.88007055600173L1273.446163977267 10.567945645382906 1354.8941801786514 157.5040564448014 1501.83029097807 76.05604024341676z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1494.6988672114792-15.888684925497678L1330.3700702881997-50.81784898288121 1295.4409062308164 113.51094794039815 1459.7697031540956 148.44011199778168z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1254.0120084735963 78.92039007420829L1391.629551914147 175.28123138118403 1350.372849780572-58.69715336634232z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M65.20738478167806 372.32826314009395L-61.58382469574764 482.54618001049914 48.63409217465758 609.3373894879248 175.42530165208328 499.11947261751965z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M108.781%2c678.002C156.845%2c678.098%2c209.147%2c670.212%2c234.132%2c629.152C259.857%2c586.877%2c249.345%2c532.697%2c222.495%2c491.127C197.921%2c453.081%2c154.073%2c435.098%2c108.781%2c435.084C63.46%2c435.07%2c19.456%2c452.937%2c-5.059%2c491.055C-31.73%2c532.526%2c-41.354%2c586.542%2c-15.71%2c628.655C9.173%2c669.518%2c60.938%2c677.907%2c108.781%2c678.002' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M140.537%2c734.738C199.065%2c734.958%2c265.743%2c728.391%2c293.873%2c677.066C321.403%2c626.837%2c286.768%2c570.249%2c257.761%2c520.858C229.303%2c472.402%2c196.712%2c417.475%2c140.537%2c415.979C82.732%2c414.44%2c41.075%2c464.343%2c11.979%2c514.314C-17.36%2c564.703%2c-40.192%2c625.554%2c-10.816%2c675.921C18.411%2c726.034%2c82.524%2c734.52%2c140.537%2c734.738' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1252.1876263619497 510.90799378439675L1377.035957042152 623.3219356526848 1364.6015682302377 386.05966310419444z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1365.483%2c550.104C1389.645%2c550.858%2c1414.579%2c541.74%2c1426.401%2c520.654C1438.02%2c499.929%2c1430.69%2c475.269%2c1419.05%2c454.555C1407.103%2c433.294%2c1389.871%2c412.283%2c1365.483%2c412.245C1341.051%2c412.207%2c1322.922%2c432.724%2c1311.622%2c454.386C1301.268%2c474.236%2c1299.835%2c497.535%2c1310.814%2c517.046C1322.007%2c536.938%2c1342.669%2c549.392%2c1365.483%2c550.104' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1369.826%2c555.152C1393.087%2c554.112%2c1414.95%2c542.756%2c1426.131%2c522.333C1436.91%2c502.645%2c1433.134%2c479.191%2c1422.12%2c459.633C1410.861%2c439.641%2c1392.706%2c424.072%2c1369.826%2c422.356C1343.622%2c420.391%2c1315.827%2c428.324%2c1301.921%2c450.621C1287.326%2c474.023%2c1289.046%2c504.662%2c1304.07%2c527.79C1317.931%2c549.128%2c1344.406%2c556.288%2c1369.826%2c555.152' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2809'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='50%25' r='772.53' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient2810'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(211%2c 219%2c 222%2c 1)' offset='0.3'%3e%3c/stop%3e%3c/radialGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
